<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>


<a th:href="@{/contas/nova}" >Incluir Pessoa</a>

<h1>Contas: </h1>

<br>

<table>
    <thead>
    <tr>
        <th>Saldo</th>
        <th>Instituicao</th>

    </tr>
    </thead>

    <tbody>
    <tr th:each="conta : ${listaConta}">

        <td th:text="${conta.saldo}">
        <td th:text="${conta.instituicao}">

        <td>

        </td>
    </tr>
    </tbody>
</table>


</body>
</html>