#tableReceita{
    background-color: aliceblue;
   

}

#btn-receita-update{
   
    position:static;
    
    transform: translateY(-30%);
    
    background-color: blue;

}

#btn-receita-delete{
    
    background-color: red;
}

#btn-receita-delete:hover{
    color: black;
}

#btn-receita-update:hover{
    color: black;
}
