#tableDespesa{
    background-color: aliceblue;
   
    

}

.container table, form {
    margin-top: 50px;
}

#btn-despesa-update{
   
    position:static;
    
    transform: translateY(-30%);
    
    background-color: blue;

}

#btn-despesa-update:hover{

    color: black;
}

#btn-despesa-delete{
    
    background-color: red;
}

#btn-despesa-delete:hover{
    color: black;
}


#filtroTipo{
    float: left;
}

#filtroTipo input[type="button"]{

    margin-left: 10px;

}

#filtroData{
    float: right;
    margin-right: 200px;
}

#filtroData input[type="date"]{
     
    width: 150px;
    
}

#filtroData input[type="button"]{
    position: absolute;
    margin-left: 100px;
}

#filtroData label{
    position: absolute;
    color: aliceblue;
    top : 22%;
    font-size: 20px;
    margin-left: 100px;
}
