#tableDespesa{
    background-color: aliceblue;
   
    

}

#despesaUpdate{
   
    position:static;
    
    transform: translateY(-30%);
    
    background-color: blue;

}

#btn_despesa_delete{
    
    background-color: red;
}


#filtroTipo{
    float: left;
}

#filtroTipo input[type="button"]{

    margin-left: 10px;

}

#filtroData{
    float: right;
    margin-right: 200px;
}

#filtroData input[type="date"]{
     
    width: 150px;
    
}

#filtroData input[type="button"]{
    position: absolute;
    margin-left: 100px;
}
