.despesaUp{
   display: flex;
   height: calc(100vh - 70px);
   align-items: center;
  justify-content: center;
}
.despesaUp #form{

    background-color: white;
    height: 400px;
    width: 400px;
    text-align: center;
    border-radius: 10px;
    
    
}

.despesaUp #title{

    padding-top: 75px;
    font-size: 20px;

}

.despesaUp input[type="text"]{
    width: 200px;
    float: left;
    box-sizing: border-box;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 30px;
    

}
.despesaUp input[type="number"]{
    width: 200px;
    float: left;
    box-sizing: border-box;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 30px;
    
}

input[type="date"]{
    width: 200px;
    float: left;
    box-sizing: border-box;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 30px;
    
}

select{
    width: 200px;
    float: left;
    box-sizing: border-box;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 30px;
    
}



input[type="button"]{
    
    background-color: blue;
    color: aliceblue;
    border-radius: 10px;

    width: 100px;
    height: 30px;

}
input[type="button"]:hover{
  
    opacity: 0.5;

}

#voltar{

    float: left;
    margin: 10px;
    font-size: 20px;
    
    
}


