.header {
    display: flex;
    height: 70px;
    width: 100%;
    background-color: blue;
    align-items: center;
    justify-content: space-between;
 
    
}

#logo{

float: left;
font-size: 40px;
margin-left: 100px;
color: aliceblue;
text-decoration: none;

}

#logo:hover{
    text-decoration: none;
}

li{

    list-style-type: none;
    float: right;
    padding: 50px;
    text-decoration: none;
    top: 50%;
    
}


li, a {
    color: #242424;
    list-style: none;
    margin: 20px 0;
    font-size: 30px;
    text-decoration: none;
}

li, a:hover{

    
   color: #242424;
   text-decoration: none;
}

li:hover{
    text-decoration: underline;
}